* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 300px;
}

html {
  font-size: 62.5%;

  --bg-white: white;
  --primary-blue: #28495f;
  --accent-gray: #e1e1e1;
  --accent-hover: rgb(195 195 195 / 65%);
  --accent-active: rgb(195 195 195 / 95%);

  --base-font-size-large: 1.8rem;
  --big-font-size-large: 2rem;
  --bigger-font-size-large: 2.6rem;
  --biggest-font-size-large: 3.6rem;

  --base-font-size-medium: 1.6rem;
  --big-font-size-medium: 1.8rem;
  --bigger-font-size-medium: 2.3rem;
  --biggest-font-size-medium: 3rem;

  --base-font-size-small: 1.4rem;
  --big-font-size-small: 1.6rem;
  --bigger-font-size-small: 2rem;
  --biggest-font-size-small: 2.4rem;
}

body {
  font-family: sans-serif;
  font-size: var(--base-font-size-large);
  color: var(--primary-blue);
}

a {
  text-decoration: none;
  color: var(--primary-blue);
}

/* header styles */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  /* padding: 10px; */
  /* color: #28495f; */
}

.logoWrapper {
  display: flex;
  align-items: center;
  /* margin-left: 10px; */
}

.logoWrapper img {
  /* height: 120px; */
  height: 12rem;
  width: auto;
  margin-top: -0.5rem;
  margin-bottom: -1rem;
}

.logoWrapper h2 {
  font-weight: 600;
  font-size: var(--big-font-size-large);
}

.logoWrapper span {
  display: block;
  font-weight: 500;
}

.linksWrapper {
  display: flex;
  align-items: center;
  gap: 2rem;
  min-width: 30rem;
}

.linksWrapper ul {
  display: flex;
  gap: 1.6rem;
}

.linksWrapper li:hover {
  transform: scale(1.1);
}

.linksWrapper > h3 {
  line-height: 4rem;
  background-color: #eb8137;
  color: var(--bg-white);
  padding: 0 1rem;
  text-align: center;
  border-radius: 5px;
  letter-spacing: 0.7px;
}

.hamburger {
  display: none;
  cursor: pointer;
  /* margin-right: 10px; */
}

.bar {
  display: block;
  width: 3.5rem;
  height: 0.5rem;
  margin: 0.5rem auto;
  /* -webkit-transition: all 0.3s ease; */
  transition: all 0.3s ease;
  background-color: var(--primary-blue);
  border-radius: 5px;
}

/* Main styles */
/* banner / hero image */

.banner {
  background: center / cover no-repeat
    url(../img/kitchen-dining-view-compressed.jpg);
  height: 70vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bannerContentContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  border-radius: 5px;
  padding: 2rem 1.5rem;
  background: linear-gradient(180deg, #ffffffd9, #fffffff2);
  text-align: center;

  /* height: 20%; */
}

.bannerContentContainer h1 {
  font-size: var(--biggest-font-size-large);
  font-weight: 600;
}

.bannerContentContainer p {
  font-size: var(--big-font-size-large);
}

/* info Links */

.infoLinks {
  background-color: var(--accent-gray);
}

.infoLinks ul {
  display: flex;
  justify-content: center;
  font-size: var(--big-font-size-large);
  height: 10vh;
}

.infoLinks li {
  width: 30%;
  border-right: solid 2px var(--bg-white);
  /* padding: 1rem; */
}

.infoLinks li:first-of-type {
  border-left: solid 2px var(--bg-white);
}

.infoLinks a {
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 1rem;
}

.infoLinks a:hover {
  background-color: var(--accent-hover);
}

.infoLinks a:active {
  background-color: var(--accent-active);
}

/* about section */

.about > div {
  padding: 4.5rem 3.5rem;
  /* background-color: #28495f;
  color: white; */
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6rem;
  width: 90%;
  max-width: 1400px;
  margin: 0 auto;
}

.about > div > div:first-child {
  position: relative;
  z-index: 1;
  width: 50%;
}

.about img {
  height: auto;
  width: 100%;
  max-width: 55rem;
  box-shadow: 17px 17px #eb8137;
}

.aboutTextWrapper {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  width: 55%;
}

.aboutTextWrapper h2 {
  font-size: var(--biggest-font-size-large);
}

.aboutTextWrapper p {
  line-height: 1.2;
}

/* emergency section */

.emergency {
  padding: 3.5rem 3.5rem 6rem 3.5rem;
}

.emergency > div {
  background-color: var(--accent-gray);
  padding: 30px;
  color: var(--primary-blue);
  border-radius: 20px;
  background-image: url('../img/emergency-icons/emergency-call.png');
  background-size: auto 80%;
  background-repeat: no-repeat;
  background-position: right 3% bottom 50%;
  margin: 0 auto;
  width: 80%;
  max-width: 1400px;
}

.emergency > div > div {
  width: 80%;
}

.emergency h3 {
  font-size: 36px;
  font-weight: 600;
}

.emergency p {
  font-size: 26px;
  margin-top: 15px;
  line-height: 30px;
}

/* services section */

.services {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 30px;
  gap: 30px;
  font-size: var(--big-font-size-large);
  background-color: var(--accent-gray);
  text-align: center;
}

.services h2 {
  font-size: 36px;
  font-size: var(--biggest-font-size-large);
}

.services ul {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 30px 20px;
}

.services li > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

.services li > div > img {
  height: 45px;
}

/* areas section */

.areas {
  margin: 45px 0;
}

.areas > div {
  width: 70%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.areas h2 {
  font-size: 20px;
}

.areas table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
}

.areas td {
  text-align: center;
  padding: 5px;
}

/* footer section */

footer {
  background-color: #28495f;
  color: white;
  padding: 25px 30px 20px;

  display: flex;
  flex-direction: column;
  gap: 15px;
}

footer > div:first-of-type {
  display: flex;
  justify-content: space-around;
  /* align-items: center; */
}

footer a {
  color: white;
  display: block;
  margin: 5px 0;
}

.footerContact h3 {
  font-size: 20px;
  font-weight: 600;
}

.footerSocials h3 {
  font-size: 20px;
  font-weight: 600;
}

.footerSocials > div {
  display: flex;
  gap: 10px;
}

.footerLegal h3 {
  font-size: 20px;
  font-weight: 600;
}

.footerCredit {
  /* align-self: center; */
  /* text-align: center; */

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footerCredit p {
  margin: 5px 0;
}

.footerCompany {
  width: 210px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.footerLogoWrapper {
  display: flex;
  align-items: center;
  /* justify-content: center; */
  gap: 5px;
}

.footerLogoWrapper > a {
  background-color: white;
  width: fit-content;
  border-radius: 50%;
}

.footerLogo {
  height: 80px;
}

.footerLogoWrapper h2 {
  font-weight: 600;
  font-size: 18px;
}

.footerLogoWrapper span {
  display: block;
  font-weight: 500;
}

@media (max-width: 1024px) {
  .logoWrapper img {
    height: 10rem;
  }

  .logoWrapper h2 {
    font-size: 19px;
  }

  .hamburger {
    display: block;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1) {
    transform: translateY(10px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-10px) rotate(-45deg);
  }

  .linksWrapper {
    position: absolute;
    left: -100%;
    top: 107px;
    flex-direction: column;
    background-color: var(--primary-blue);
    width: 100%;
    text-align: center;
    transition: 0.3s;

    visibility: hidden;
  }

  .linksWrapper li {
    margin: 1.8rem 0;
  }

  .active {
    left: 0px;
    visibility: visible;
  }

  .linksWrapper ul {
    display: block;
  }

  .linksWrapper a {
    color: var(--bg-white);
  }

  .linksWrapper h3 {
    display: none;
  }
}

@media (max-width: 800px) {
  body {
    font-size: var(--base-font-size-medium);
  }

  /* header styles */

  .logoWrapper img {
    height: 9rem;
  }

  .logoWrapper h2 {
    font-size: var(--big-font-size-medium);
  }

  .linksWrapper {
    top: 94px;
  }

  /* Main styles */
  /* banner / hero image */
  .bannerContentContainer {
    gap: 1rem;
  }

  .bannerContentContainer h1 {
    font-size: var(--biggest-font-size-medium);
  }

  .bannerContentContainer p {
    font-size: var(--big-font-size-medium);
  }

  /* info Links */

  .infoLinks ul {
    font-size: var(--big-font-size-medium);
    height: 9vh;
  }

  /* about section */

  .about > div {
    flex-direction: column;
    padding: 4rem 1.5rem 3rem;
    gap: 3rem;
  }

  .about > div > div:first-child {
    display: flex;
    justify-content: center;
    width: fit-content;
  }

  .about img {
    width: 75%;
    height: auto;
    box-shadow: none;
  }

  .aboutTextWrapper {
    width: 100%;
    text-align: center;
  }

  .aboutTextWrapper h2 {
    font-size: var(--biggest-font-size-medium);
  }

  /* emergency section */

  .emergency {
    padding: 1rem 1.5rem 3.5rem;
  }

  .emergency > div {
    background-image: none;
  }

  .emergency > div > div {
    width: 100%;
    text-align: center;
  }

  .emergency h3 {
    font-size: var(--biggest-font-size-medium);
  }

  .emergency p {
    font-size: var(--bigger-font-size-medium);
    line-height: 2.7rem;
    margin-top: 1.2rem;
  }

  /* services section */

  .services {
    font-size: var(--big-font-size-medium);
    padding: 2.5rem 2rem;
  }

  .services ul {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 30px 20px;
  }

  .services h2 {
    font-size: var(--bigger-font-size-medium);
  }

  /* areas section */

  .areas {
    margin: 2.5rem 1.5rem;
  }

  .areas > div {
    width: 100%;
    gap: 1.5rem;
  }

  .areas h2 {
    font-size: var(--big-font-size-medium);
  }

  /* footer section */

  footer {
    padding: 1.5rem;
    gap: 1.5rem;
  }

  footer > div:first-of-type {
    gap: 2rem;
  }

  footer > div:first-of-type h3 {
    font-size: var(--big-font-size-medium);
  }

  .footerSocials img {
    height: 22px;
    width: auto;
  }

  .footerLogo {
    height: 70px;
  }

  .footerLogoWrapper h2 {
    font-size: var(--base-font-size-medium);
    text-align: left;
  }

  .footerCredit {
    text-align: center;
  }
}

@media (max-width: 500px) {
  body {
    font-size: var(--base-font-size-small);
  }

  /* header styles */

  .logoWrapper img {
    height: 8rem;
  }

  .logoWrapper h2 {
    font-size: var(--big-font-size-small);
  }

  .linksWrapper {
    top: 85px;
  }

  /* Main styles */
  /* banner / hero image */

  .bannerContentContainer h1 {
    font-size: var(--biggest-font-size-small);
  }

  .bannerContentContainer p {
    font-size: var(--big-font-size-small);
  }

  /* info Links */

  .infoLinks ul {
    font-size: var(--big-font-size-small);
    height: 8vh;
  }

  /* about section */

  .about > div {
    padding: 2.5rem 1rem;
    gap: 2rem;
  }

  .aboutTextWrapper h2 {
    font-size: var(--biggest-font-size-small);
  }

  /* emergency section */

  .emergency {
    padding: 0 2.5rem 2.5rem;
  }

  .emergency h3 {
    font-size: var(--biggest-font-size-small);
  }

  .emergency p {
    font-size: var(--bigger-font-size-small);
    line-height: 2.2rem;
    margin-top: 1rem;
  }

  /* services section */

  .services {
    font-size: var(--big-font-size-small);
  }

  .services ul {
    gap: 20px 10px;
  }

  .services h2 {
    font-size: var(--bigger-font-size-small);
  }

  /* areas section */

  .areas {
    margin: 2.5rem 0.5rem;
  }

  .areas h2 {
    font-size: var(--big-font-size-small);
  }

  /* footer section */

  footer > div:first-of-type {
    flex-direction: column;
    gap: 1rem;
  }

  footer > div:first-of-type h3 {
    font-size: var(--big-font-size-small);
  }

  .footerSocials {
    align-self: flex-end;
  }

  .footerSocials h3 {
    text-align: end;
  }

  .footerSocials img {
    height: 22px;
    width: auto;
  }

  .footerLogo {
    height: 60px;
  }

  .footerLogoWrapper h2 {
    font-size: var(--base-font-size-small);
  }
}
